/* Global CSS start */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Azeret Mono", monospace;
    max-width: 1440px;
    margin: 0 auto;
}

.btn-primary {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;

}

/* Global CSS end */

/* Header CSS start */
#header-section {
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 652px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 74px;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.header-content h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
    font-family: Azeret Mono;
}

.header-content p {
    font-family: Azeret Mono;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
    opacity: 0.7;
}

.header-content-button a button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px;
    margin-bottom: 20px;
    cursor: pointer;
    font-family: Azeret Mono;
}

/* Header CSS end */

/* Main CSS start */

/* reason-of-development CSS start */
#reason-of-development {
    width: 79.2%;
    margin: 0 auto;
    padding: 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 88px;
}

.reason-heading h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
    font-family: Azeret Mono;
}

.reason-heading p {
    font-family: Azeret Mono;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
    opacity: 0.7;
}

.item-1 {
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    align-items: center;
}

.item-1 .item-1-content {
    width: 50%;
}

.item-1 .item-1-image {
    width: 50%;
    text-align: end;
}

.item-1-content h2,
.item-2-content h2 {
    font-family: Azeret Mono;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.item-1-content p,
.item-2-content p {
    font-family: Azeret Mono;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin: 16px 0 32px 0;
}

.item-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
}

.item-2 .item-2-content {
    width: 50%;
}

.item-2 .item-2-image {
    width: 50%;
}

/* reason-of-development CSS end */

/* inspiration-section CSS start */
#inspiration-section {
    width: 79.2%;
    margin: 0 auto;
    margin-bottom: 151px;
}

.inspiration-content h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.inspiration-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0 48px 0;

}

.inspiration-video {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    text-align: center;
    padding: 32px;
}

.inspiration-video iframe {
    border-radius: 16px;
}

/* inspiration-section CSS end */

/* target-section CSS start */
#target-section {
    width: 79.2%;
    margin: 0 auto;
}

.current-target-heading H2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.current-target-heading P {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;
    margin-bottom: 48px;
}

.current-target-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 111px;
}

.current-target-item {
    width: 33.33%;
    border-radius: 16px;
    padding: 40px;
}

.current-target-item h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 8px;
}

.current-target-item p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 24px;
}

.current-target-item a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

.next-target-content h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.next-target-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0 48px 0;
}

.next-target-items {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.target-item-image {
    width: 18%;
}

.target-item-content {
    width: 82%;
}

.target-item-content h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.target-item-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin: 8px 0 24px 0;
}

.target-item-content a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

/* target-section CSS end */

/* support section CSS start */
.support-section {
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 64px 48px;
    height: 314px;
    border-radius: 16px;
    margin: 50px 0;
}

.support-section h2 {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

.support-section p {
    margin: 16px 0 24px 0;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    text-align: center;
}

.support-section form {
    text-align: center;
}

.support-section form input {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
}

input::placeholder {
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
}

.support-section form button {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

/* support section CSS end */
/* Main CSS end */

/* Footer CSS Start */
#footer-section {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px;
    display: flex;
    align-items: center;
}

.footer-content,
.footer-icons {
    width: 50%;
}

.footer-content h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
}

.footer-icons {
    display: flex;
    justify-content: end;
    gap: 20px;
}

/* footer CSS end */